<div class="d-flex justify-content-center">
  <div class="col-10">
    <div *ngIf="shop">
      <div class="modal-header">
        <h4 class="modal-title" data-cy="toolDeleteDialogHeading">Mã QR code</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="previousState()"></button>
      </div>
      <div class="row">
        <div class="justify-content-center align-items-center" style="text-align: center; margin-bottom: 20px">
          <ngx-qrcode *ngIf="shop.shopCode" [value]="url + shop.shopCode" [width]="130" [elementType]="elementType"> </ngx-qrcode>
          <button *ngIf="shop.shopCode" class="btn btn-secondary" (click)="downloadQRCode()">Tải xuống QR</button>
        </div>
      </div>
    </div>
  </div>
</div>
