<form *ngIf="shop" name="deleteForm" (ngSubmit)="confirmDelete(shop.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="ticketDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p>Xác nhận xóa cửa hàng giao dịch</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="jhi-confirm-delete-ticket" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
