<!--<div>-->
<!--  <div class="d-flex justify-content-center">-->
<!--    <div class="col-lg-6 col-md-8 col-sm-10">-->
<!--      <h2>Kiểm kê tài sản</h2>-->
<!--      <form class="form" role="form">-->
<!--        <div class="mb-3">-->
<!--          <label class="username-label" for="namKiemKe">Năm kiểm kê</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            class="form-control"-->
<!--            name="namKiemKe"-->
<!--            id="namKiemKe"-->
<!--            placeholder="Năm kiểm kê"-->
<!--            formControlName="namKiemKe"-->
<!--            #namKiemKe-->
<!--            data-cy="namKiemKe"-->
<!--          />-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary" data-cy="submit">Kiểm kê</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
